<h1> Question Description</h1><br/>

<h3> Email - <%= current_user.email %> </h3>
<h3> Question - <%= @question.question %> </h3>
<% answers = @question.answers.pluck(:answer) %>
<% answers.each do |answer| %>
  <h3> Ans - <%= answer %></h3>
<% end %>

<% if user_signed_in? %>
  <%= link_to "Follow User", friendship_followed_user_path(friendship_id: current_user.id) %>
  <%= link_to "Follow Topic", topic_followed_topic_path(topic_id: current_user.questions.pluck(:topic_id)) %>
<% end %>



<%= link_to "Back", root_path, class: "btn btn-outline-info mt-4" %>